<div class="row tag-box p-1">

    <span class="col-8 ">{{ tag.name }}</span>
    <input class="col-4" [(ngModel)]="checked" type="checkbox" (change)="updateUserTag()" />


    <select *ngIf="checked" id="divshow" class="col-12 mb-1" [(ngModel)]="tagPriority" (change)="updateUserTag()">
      <option value="LOVE">Kocham</option>
      <option value="LIKE">Lubie</option>
      <option value="NORMAL">Akceptuje</option>
      <option value="NOT_LIKE">Nie lubie</option>
      <option value="HATE">Nienawidze</option>
    </select>


</div>
