<button class="row" (click)="tryToGetToAuthorizedMethod()">GET DO autoryzowanej metody</button>
<button class="row" (click)="checkIfAuthorized()">GET PRINCIPAL</button>

<div class="row"> </div>
<button class="row" (click)="switchContext()">Zmień</button>
<div class="row"> </div>
<div class="row"> </div>

<div *ngIf="mode == 'LOGIN'">
  <input class="row" [(ngModel)]="user.login" placeholder="login" />
  <input class="row" [(ngModel)]="user.password" placeholder="hasło" />

  <button class="row" (click)="login()">Zaloguj</button>
</div>

<div *ngIf="mode == 'REGISTER'">
  <input class="row" [(ngModel)]="user.email" placeholder="email" />
  <input class="row" [(ngModel)]="user.login" placeholder="login" />
  <input class="row" [(ngModel)]="user.password" placeholder="hasło" />

  <button class="row" (click)="register()">Zarejestruj</button>
</div>



