<p class="info"> Zaloguj się do konta. Jeśli go jeszcze nie masz zarejestruj się</p>
<button class="row block-center" (click)="switchContext()">Login / Rejestracja </button>

<div *ngIf="mode == 'LOGIN'">
  <p class="info">Zaloguj się do portalu</p>
  <input class="row block-center" [(ngModel)]="user.login" placeholder="login" />
  <input class="row block-center" [(ngModel)]="user.password" placeholder="hasło" />

  <button class="row block-center" (click)="login()">Zaloguj</button>
</div>

<div *ngIf="mode == 'REGISTER'">
  <p class="info"> Załóż konto</p>
  <input class="row block-center" [(ngModel)]="user.email" placeholder="email" />
  <input class="row block-center" [(ngModel)]="user.login" placeholder="login" />
  <input class="row block-center" [(ngModel)]="user.password" placeholder="hasło" />

  <button class="row block-center" (click)="register()">Zarejestruj</button>
</div>
