<table>
    <tr>
        <td>
            <div class="row label">
                Preferowana płeć:
            </div>
        </td>
        <td>
            <div class="row label">
                Preferowane województwo:
            </div>
        </td>
        <td>
            <div class="row label">
                Preferowana kolor oczu:
            </div>
        </td>
        <td>
            <div class="row label">
                Preferowane kolor włosów:
            </div>
        </td>

    </tr>

    <tr>
        <td>
            <div class="row label">
                <select [(ngModel)]="preferredGender" >
                    <option value="1">Kobieta</option>
                    <option value="0">Mężczyzna</option>
                    <option value="2">Brak</option>
                </select>
            </div>
        </td>

        <td>
            <div class="row">
                <select [(ngModel)]="preferredRegion" >
                    <option value="0">dolnośląskie</option>
                    <option value="1">kujawsko-pomorskie</option>
                    <option value="2">lubelskie</option>
                    <option value="3">lubuskie</option>
                    <option value="4">lodzkie</option>
                    <option value="5">małopolskie</option>
                    <option value="6">mazowieckie</option>
                    <option value="7">opolskie</option>
                    <option value="8">podkarpackie</option>
                    <option value="9">podlaskie</option>
                    <option value="10">pomorskie</option>
                    <option value="11">śląskie</option>
                    <option value="12">świętokrzyskie</option>
                    <option value="13">warmińsko-mazurskie</option>
                    <option value="14">wielkopolskie</option>
                    <option value="15">zachodniopomorskie</option>
                    <option value="16">Brak</option>
                </select>
            </div>
        </td>
        <td>
            <div class="row">
                <select [(ngModel)]="preferredEyeColor" >
                    <option value="0">Niebieskie</option>
                    <option value="1">Brązowe</option>
                    <option value="2">Zielone</option>
                    <option value="3">Piwne</option>
                    <option value="4">Szare</option>
                    <option value="5">Brak</option>
                </select>
            </div>
        </td>
        <td>
            <div class="row">
                <select [(ngModel)]="preferredHairColor" >
                    <option value="0">Brązowy</option>
                    <option value="1">Blond</option>
                    <option value="2">Czarny</option>
                    <option value="3">Rudy</option>
                    <option value="4">Brak</option>
                </select>
            </div>
        </td>
        <td>
            <div class="row">
                <button (click)="update()">Aktualizuj</button>
            </div>
        </td>

    </tr>









</table>





