<div *ngIf="!isAuthenticated()">
    <app-login-component></app-login-component>
</div>

<div *ngIf="isAuthenticated()">

    <p>
        Tutaj możesz edytować swój profil.
    </p>


    <div class="row">
        <input  [(ngModel)]="profil.displayLogin" placeholder="Nazwa" />
    </div>


    <div class="row">
        <input  [(ngModel)]="profil.description" placeholder="Opis" />
    </div>

    <div class="row">
        <input type="date"  [(ngModel)]="profil.birthDate" />
    </div>
    <div class="row">
        <select name="" id="" [(ngModel)]="profil.gender" >
            <option value="Female">Kobieta</option>
            <option value="Male">Mężczyzna</option>
            <option value="None">Brak</option>
        </select>
    </div>


        <button (click)="save()">Aktualizuj</button>



</div>