.gallery {
  overflow: auto !important;
  white-space: pre-wrap;
  display: block;
  width: 100%;
}
.image-container-outer {
  display: inline-block;
  width: 33%;
}
.image {
  display: inline-block;
  width: 150px;
  height: 150px;
}

