<div class="row">
  <span class="row" *ngIf="!galleryEditionEnable">
    <h4 style="padding-right: 10px;">{{ gallery.title }}</h4>
    <span *ngIf="!detailModeOn" >{{gallery.accessScope}}</span>
    <i *ngIf="!detailModeOn" class="material-icons md-18 clickable" (click)="enableGalleryEdition()">edit</i>
  </span>
  <span class="row" *ngIf="!detailModeOn && galleryEditionEnable">
    <input [(ngModel)]="newGalleryName"/>
    <select [(ngModel)]="newGalleryAccessScope">
        <option value="PRIVATE">Prywatna</option>
        <option value="PUBLIC">Publiczna</option>
    </select>
    <i class="material-icons md-18 clickable" (click)="saveGallery()">check</i>
    <i class="material-icons md-18 clickable" (click)="disableGalleryEdition()">cancel</i>
  </span>
</div>
<div class="gallery row">
  <span *ngFor="let oneImage of gallery.images" class="image-container-outer">
    <app-image [image]="oneImage"></app-image>
  </span>
</div>

<div *ngIf="!detailModeOn" class="row">
  <input
    class="row"
    type="file"
    [(ngModel)]="file"
    (change)="onFileChanged($event)"
  />

  <img class="row" *ngIf="imageBase64" class="image" src="{{ imageBase64 }}" />
  <input class="row" [(ngModel)]="description" />
  <button class="row" (click)="publish()">Dodaj</button>
</div>
