
<h2 class = "row">Galeria</h2>
<div class = "row" *ngFor="let oneGallery of allGalleries">
  <div *ngIf="detailModeOn && oneGallery.accessScope == 'PUBLIC'">
    <app-gallery [detailModeOn]="detailModeOn" [gallery]="oneGallery"></app-gallery>
  </div>
  <div *ngIf="!detailModeOn">
    <app-gallery [detailModeOn]="detailModeOn" [gallery]="oneGallery"></app-gallery>
  </div>
</div>

<div class = "row" *ngIf="!detailModeOn && newGalleryModeEnable">
  <input [(ngModel)]="galleryName" placeholder="nazwa" />

  <button (click)="addNewGallery()">Dodaj galerie</button>
</div>

<button class = "row" *ngIf="!detailModeOn && !newGalleryModeEnable" (click)="enableNewGallery()">
  Nowa galeria
</button>

